<h1>Welcome to the index page for the WarCon Blog.</h1>

<p> Your place for WarCon news.  </p>



 <!--<%= image_tag "WarCon" %> -->




<p></p>

<div class="center jumbotron">
  <h1>WARCON BLOG</h1>
  <p>...</p>
  <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>-->
  <%= link_to 'Sign Up', signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
</div>

<!--<ul> Navigation links </ul>-->
<!--  <li> <%= link_to 'index', articles_path   %>  </li>-->
<!--  <li> <%= link_to 'about', about_path  %> </li>-->
<!--  <li>  <%= link_to 'Articles', articles_path  %> </li>-->



