<h2 align="center"> Listing All Categories </h2>

<div align="center">
    <%= will_paginate %>
    <% @categories.each do |category| %>
        <ul class="listing">
            <div class="row">
                <div class="well col-xs-4 col-xs-offset-4">
                    <li class="article-title">
                        <%= link_to "#{category.name}", category_path(category) %>
                    </li>
                    <li><small><%= pluralize(category.articles.count, "article") %></small></li>
                    
                    <% if logged_in? && current_user.admin?%>
                          <div class="article-actions">
                            <%= link_to 'Edit Category', edit_category_path(category), class: "btn btn-xs btn-primary" %> 
                            <%= link_to 'Delete Category', category_path(category), method: :delete, 
                                                          data: { confirm: "Sure about delete?"}, 
                                                          class: "btn btn-xs btn-danger" %>
                         </div>
                    <% end %>
                    
                </div>
            </div>
        </ul>
    <% end %>
    <%= will_paginate %>
</div>
